body {
	margin: 0;
	padding: 0;
	font-family:  'Roboto', sans-serif;
	font-size: 14px;
}

body.theme-dark {
	background-color: #1c212e;
	color: #ccc;
}

body.theme-dark a {
	color: #ccc;
}

.container-fluid {
	width: 100%;
}

nav.header {
	height: 48px;
	width: 100%;
	position: fixed;
	z-index: 9999999;
}

nav.header input[type="text"] {
	width: 30%;
	margin-top: 12px;
	padding-left: 4px;
	padding-right: 12px;
	border-width: 0 0 1px 0;
	margin-right: 128px;
	height: 32px;
	background-color: transparent;
	font-family: Arial, "FontAwesome", serif;
}

nav.header ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

nav.header .nav-wrapper {
	width: 80%;
	max-width: 976px;
	margin: 0 auto;
	align-items: center;
}

nav.header .brand-logo {
	font-weight: bold;
}

nav.header ul li {
	margin: 0 20px;
}

nav.header ul li a {
	text-decoration: none;
	font-weight: bold;
}

.container {
	width: 90%;
	max-width: calc(100% - 300px);
	padding-left: 12px;
	padding-right: 12px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.pull-left {
	margin-right: auto;
}

.pull-right {
	margin-left: auto;
}

.hidden {
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
}

.video-list {
	padding: 12px;
	padding-bottom: 18px;
	display: flex;
	flex-direction: column;	
}

.video-list h3 {
	margin-top: 6px;
	margin-bottom: 6px;
}

.video-list > div > div {
	margin-top: 8px;
	margin-right: 16px;
}

.video-thumb-block {
	display: flex;
	margin-right: 12px;
}

.video-thumb-block .video-thumb {
	width: 150px;
	height: 80px;
}

.video-thumb-block .video-info {
	margin-left: 12px;
	display: flex;
	flex-direction: column;
}

.video-thumb-block .video-info p {
	margin-top: 0;
	margin-bottom: 4px;
}
.video-thumb-block .video-info p:nth-child(n + 2) {
	opacity: 0.8;
	font-size: 13px;
}

.padding-left {
	margin-left: 16px;
}