.login-container {
	display: flex;
	flex-direction: row;
	height: 100vh;
}

.login-container > div {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-container .info {
	background: #158ce1;
}

.login-container .info h1 {
	color: white;
}

.login-container .info p {
	color: #ccc;
	width: 80%;
}

.login-container .login-box {
	background: #363636;
}

.login-box .login-nav {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	margin-left: auto;
}

.login-nav li {
	padding: 7px 14px;
}

.login-nav li a {
	text-decoration: none;
	color: white;
}

.login-nav .sign-up {
	border-radius: 12px 0 0 12px;
}

.login-nav .sign-in {
	border-radius: 0 12px 12px 0;
}

.login-nav .sign-up,
.login-nav .sign-in {
	background-color: #1a1a1a;
}

.login-nav .active {
	background-color: #158ce1 !important;
}

form {
	display: flex;
	flex-direction: column;
	margin: auto 0;
	width: 80%;
	height: 55%;
}

form label {
	color: #ccc;
	width: 80%;
	margin: 16px 0;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
	display: block;
	padding: 8px 0;
	width: 70%;
	background: transparent;
	border-width: 0 0 1px 0;
	border-color: #158ce1;
	color: white;
}

form input[type="submit"] {
	width: 20%;
	background: #158ce1;
	border: 0;
	outline: 0;
	padding: 10px 12px;
	margin-top: 24px;
	text-transform: uppercase;
	color: white;
	border-radius: 24px;
}

form input[type="checkbox"]:checked {
	background: #158ce1;
}

form input:focus {
	border-color: white;
	outline: none;
}

form label a {
	color: #158ce1;
	text-decoration: none;
}
